@import "functions";
@import "mixins";

/** Базовые анимации: */
@import "keyframes";

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "LilitaOne", cursive;
	text-wrap: balance;
}
.pl-10 {
	padding-left: 10px;
}

