@font-face {
	font-family: FredokaOne;
	font-display: swap;
	src: url("../fonts/FredokaOne-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: LilitaOne;
	font-display: swap;
	src: url("../fonts/LilitaOne.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

